@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,700&display=swap');

main  {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 10vh;
}

h4 {
    padding-bottom: 4vh;
}

h5 {
    padding-bottom: 8vh;
    text-align: center;
}

h6 {
    font-family: 'Ubuntu';
    padding-bottom: 2vh;
}

table {
    border:5px inset #dadada;
    background: #FBFBFB;
    font-family: 'Ubuntu';
    font-style: normal;
    margin-bottom: 3vh;
}
    
td {
    border: 1px solid black;
    padding:10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main button {
    background: #EB850F;
    color: white;
    font-family: 'Ubuntu';
    font-size: 18px;
    border: none;
    padding: 1.5vh 7vw 1.5vh 7vw;
    border-radius: 40px;
    box-shadow: 0 5px 3px rgb(179, 179, 179);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

main button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.votrecommande {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #C4C4C4;
    padding: 5vh 3vw 1vh 3vw;
    background: #FBFBFB;
    border-radius: 20px;
    width: fit-content;
}

.infoslivraison {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Ubuntu;
    border: 1px solid #C4C4C4;
    padding: 5vh 3vw 1vh 3vw;
    background: #FBFBFB;
    border-radius: 20px;
    width: fit-content;
}

@media only screen and (max-width: 600px){
    .flex-row {
        display: flexbox;
        flex-direction: column;
    }

    table {
        max-width: 30px;
    }
}